<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>908706351829-08ha1haloai3iaatfk526faoo7fpuuok.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.908706351829-08ha1haloai3iaatfk526faoo7fpuuok</string>
	<key>API_KEY</key>
	<string>AIzaSyB-uuX99fjPx5hAN4Tl3s3UP95wyd-OSQI</string>
	<key>GCM_SENDER_ID</key>
	<string>908706351829</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.passwordKeeper</string>
	<key>PROJECT_ID</key>
	<string>password-keeper-a2652</string>
	<key>STORAGE_BUCKET</key>
	<string>password-keeper-a2652.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:908706351829:ios:12bb20e5508d7486f8f05c</string>
</dict>
</plist>